.row{
margin:0px !important;
}
p{
color: white;
    text-shadow: none;
   
}
.ui-header {
       background: #ef7100 !important;
    color: white !important;
}

.box-facebook{
    background: #0909a7;}
.box-whatsapp{
background: #0ab90a;}
.box-web{
    background: #00ceff;
	    padding: 3px;
}
/* --------------------------Iconos--------------------*/
@font-face{
	font-family:iconos;
	src:url(../fonts/icomoon.ttf) format("truetype");
} 
.icon-switch:before {
    content: "\e9c9";
    font-family: iconos;
    font-size: 30px;
      position: absolute;
    padding: 10px;
    color: white;
}
.icon-facebook:before { 
	content: "\e908";
	font-family:iconos;
    font-size:30px;
	color: white;
}

.icon-whatsapp:before {
	font-family:iconos;
  content: "\ea97";
  font-size:30px;
      color: white;
}
.icon-earth:before {
	font-family:iconos;
  content: "\e9da";
    font-size:30px;
	    color: white;
}

.glyphicon-headphones:before {
    content: "\e035";
      font-size:30px;
	    color: white;
}
.glyphicon-play:before {
    content: "\e072";
    padding: 0px;
    font-size: 50px;
    color: white;
    border-radius: 70px;
}



.ui-page-theme-a .ui-btn, html .ui-bar-a .ui-btn, html .ui-body-a .ui-btn, html body .ui-group-theme-a .ui-btn, html head + body .ui-btn.ui-btn-a, .ui-page-theme-a .ui-btn:visited, html .ui-bar-a .ui-btn:visited, html .ui-body-a .ui-btn:visited, html body .ui-group-theme-a .ui-btn:visited, html head + body .ui-btn.ui-btn-a:visited {
    color: white !important;
    background: rgba(76, 78, 241, 0.23) !important;
    text-shadow: none !important;}